<form (submit)="search(student_id.value,student_name.value)" #f="ngForm">
	<div class="input">
  	<label for="student_id">Student id</label>
  	<input type="text" #student_id >
	</div>
	<div class="input">
    	<label for="student_name">name</label>
    	<input type="text" #student_name >
  	</div>
     	 
  	<div class="input">
      <button class="login" type="submit"> Search </button> <p>{{respone}}</p>     	 
  </div>
</form>

<ul>
	<li style="list-style-type: none" *ngFor="let user of userList; let i = index">
  	{{i+1}}. {{user.name}} {{user.nickname}}
	</li>
</ul>
